<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Kites</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="static/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="static/js.js"></script>
</head>
<!--HEADER -->
<body>
<nav>
    <div class="nav-wrapper #64b5f6 blue lighten-2">
        <a href="http://kites.lt/" class="brand-logo right">Everything about kites</a> <!--LT&EN-->
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="#quotes">Quotes</a></li>
            <li><a href="#kites">Kites</a></li>
            <li><a href="#more">Contacts</a></li>
        </ul>
    </div>
</nav>
  <div class="carousel carousel-slider" id="kites">
      <a class="carousel-item" href="#one!"><img src="img/carousel2/kites7.jpg"></a>
      <a class="carousel-item" href="#two!"><img src="img/carousel2/kites6.jpg"></a>
      <a class="carousel-item" href="#three!"><img src="img/carousel2/kites8.jpg"></a>
      <a class="carousel-item" href="#four!"><img src="img/carousel2/kites9.jpg"></a>
  </div>
<div class="carousel carousel-slider center" data-indicators="true" id="quotes">
    <div class="carousel-item #ff8a65 deep-orange lighten-2 black-text" href="#one!">
        <h1>“Imagination is the highest kite one can fly.”</h1>
        <p class="black-text"><em>― Lauren Bacall</em></p>
    </div>
    <div class="carousel-item #ff8a65 deep-orange lighten-2 black-text" href="#two!">
        <h1>“Kites rise highest against the wind, not with it.”</h1>
        <p class="black-text"><em>― Winston S. Churchill</em></p>
    </div>
    <div class="carousel-item #ff8a65 deep-orange lighten-2 black-text" href="#three!">
        <h1>"A kite needs to be tied down in order to fly. I learned how important restrictions can sometimes be in order to experience freedom."</h1>
        <p class="black-text"><em>― Damien Rice</em></p>
    </div>
    <div class="carousel-item #ff8a65 deep-orange lighten-2" href="#four!">
        <h1>"My wife holds the kite strings that let me go 'weeeeeee', then she reels me back in."</h1>
        <p class="black-text"><em>―Jeff Bridges<em></p>
    </div>
</div>
<div class="carousel">
    <a class="carousel-item" href="#one!"><img src="img/carousel1/kites1.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="img/carousel1/kites2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="img/carousel1/Kites3.jpg"></a>
    <a class="carousel-item" href="#four!"><img src="img/carousel1/kites4.jpg"></a>
    <a class="carousel-item" href="#five!"><img src="img/carousel1/kites5.jpg"></a>
</div>
<!--FOOTER -->
<footer id="contacts" class="page-footer #64b5f6 blue lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text" id="zapyskis" href="http://kites.lt/"></h5>
                <p class="black-text text-lighten-4">Visi šie aitvarai pasiskolinti iš <a href="
                  http://photographyblogger.net/23-beautiful-kite-pictures/">photographyblogger.net</a></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Faitvarufestivalis%2F&tabs&width=340&height=130&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId" width="340" height="130" style="border:2px solid black;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a class="black-text text-lighten-4 right" id="goup" href="http://kites.lt/"><strong>Go up!</strong></a>
        </div>
    </div>
</footer>
</body>
</html>